/* Style sheet for the overall page
 * Michael Wilson
 * Math 322 */

#main > div:not(#operator-in-use){
	margin-bottom: 10px;
}

#controls, #calculator, td, th{
	text-align: center; 
}

#view {
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	width: 500px;
	height: 500px;
	box-shadow: 1px 1px lightgrey;	
	text-align: center;
	line-height: 100%;
}

.highlight {
	background-color: blue;
}

tr, th, td {	
	padding: 5px;
}

#my-calculator, #view, tr, th, td {
	border: 1px solid black;
}

#my-calculator {
	margin: auto;
}

